#
# /etc/nscd.conf
#
# An example Name Service Cache config file.  This file is needed by nscd.
#
# Legal entries are:
#
#	logfile			<file>
#	debug-level		<level>
#	threads			<initial #threads to use>
#	max-threads		<maximum #threads to use>
#	server-user             <user to run server as instead of root>
#		server-user is ignored if nscd is started with -S parameters
#       stat-user               <user who is allowed to request statistics>
#	reload-count		unlimited|<number>
#	paranoia		<yes|no>
#	restart-interval	<time in seconds>
#
#       enable-cache		<service> <yes|no>
#	positive-time-to-live	<service> <time in seconds>
#	negative-time-to-live   <service> <time in seconds>
#       suggested-size		<service> <prime number>
#	check-files		<service> <yes|no>
#	persistent		<service> <yes|no>
#	shared			<service> <yes|no>
#	max-db-size		<service> <number bytes>
#	auto-propagate		<service> <yes|no>
#
# Currently supported cache names (services): passwd, group, hosts, services
#


	logfile			{{ nscd_logfile if nscd_logfile is defined else '/var/log/nscd.log' }}
	threads			{{ nscd_threads if nscd_threads is defined else '4' }}
	max-threads		{{ nscd_max_threads if nscd_max_threads is defined else '32' }}
	server-user		{{ nscd_server_user if nscd_server_user is defined else 'nscd' }}
	stat-user		{{ nscd_stat_user if nscd_stat_user is defined else 'nscd'  }}
	debug-level		{{ nscd_debug_level if nscd_debug_level is defined else '0' }}
	reload-count		{{ nscd_reload_count if nscd_reload_count is defined else '5' }}
	paranoia		{{ 'yes' if nscd_paranoia is defined and nscd_paranoia else 'no' }}
	restart-interval	{{ nscd_restart_interval if nscd_restart_interval is defined else '3600' }}

	enable-cache		passwd		{{ 'yes' if nscd_passwd_enable_cache is defined and nscd_passwd_enable_cache else 'no' }}
	positive-time-to-live	passwd		{{ nscd_passwd_positive_time_to_live if nscd_passwd_positive_time_to_live is defined else '600' }}
	negative-time-to-live	passwd		{{ nscd_passwd_negative_time_to_live if nscd_passwd_negative_time_to_live is defined else '20' }}
	suggested-size		passwd		{{ nscd_passwd_suggested_size if nscd_passwd_suggested_size is defined else '211' }}
	check-files		passwd		{{ 'yes' if nscd_passwd_check_files is defined and nscd_passwd_check_files else 'no' }}
	persistent		passwd		{{ 'yes' if nscd_passwd_persistent is defined and nscd_passwd_persistent else 'no' }}
	shared			passwd		{{ 'yes' if nscd_passwd_shared is defined and nscd_passwd_shared else 'no' }}
	max-db-size		passwd		{{ nscd_passwd_max_db_size if nscd_passwd_max_db_size is defined else '33554432' }}
	auto-propagate		passwd		{{ 'yes' if nscd_passwd_auto_propagate is defined and nscd_passwd_auto_propagate else 'no' }}

	enable-cache		group		{{ 'yes' if nscd_group_enable_cache is defined and nscd_group_enable_cache else 'no' }}
	positive-time-to-live	group		{{ nscd_group_positive_time_to_live if nscd_group_positive_time_to_live is defined else '3600' }}
	negative-time-to-live	group		{{ nscd_group_negative_time_to_live if nscd_group_negative_time_to_live is defined else '20' }}
	suggested-size		group		{{ nscd_group_suggested_size if nscd_group_suggested_size is defined else '211' }}
	check-files		group		{{ 'yes' if nscd_group_check_files is defined and nscd_group_check_files else 'no' }}
	persistent		group		{{ 'yes' if nscd_group_persistent is defined and nscd_group_persistent else 'no' }}
	shared			group		{{ 'yes' if nscd_group_shared is defined and nscd_group_shared else 'no' }}
	max-db-size		group		{{ nscd_group_max_db_size if nscd_group_max_db_size is defined else '33554432' }}
	auto-propagate		group		{{ 'yes' if nscd_group_auto_propagate is defined and nscd_group_auto_propagate else 'no' }}

	enable-cache		hosts		{{ 'yes' if nscd_hosts_enable_cache is defined and nscd_hosts_enable_cache else 'no' }}
	positive-time-to-live	hosts		{{ nscd_hosts_positive_time_to_live if nscd_hosts_positive_time_to_live is defined else '3600' }}
	negative-time-to-live	hosts		{{ nscd_hosts_negative_time_to_live if nscd_hosts_negative_time_to_live is defined else '20' }}
	suggested-size		hosts		{{ nscd_hosts_suggested_size if nscd_hosts_suggested_size is defined else '211' }}
	check-files		hosts		{{ 'yes' if nscd_hosts_check_files is defined and nscd_hosts_check_files else 'no' }}
	persistent		hosts		{{ 'yes' if nscd_hosts_persistent is defined and nscd_hosts_persistent else 'no' }}
	shared			hosts		{{ 'yes' if nscd_hosts_shared is defined and nscd_hosts_shared else 'no' }}
	max-db-size		hosts		{{ nscd_hosts_max_db_size if nscd_hosts_max_db_size is defined else '33554432' }}
	auto-propagate		hosts		{{ 'yes' if nscd_hosts_auto_propagate is defined and nscd_hosts_auto_propagate else 'no' }}

	enable-cache		services	{{ 'yes' if nscd_services_enable_cache is defined and nscd_services_enable_cache lse 'no' }}
	positive-time-to-live	services	{{ nscd_services_positive_time_to_live if nscd_services_positive_time_to_live is defined else '28800' }}
	negative-time-to-live	services	{{ nscd_services_negative_time_to_live if nscd_services_negative_time_to_live is defined else '20' }}
	suggested-size		services	{{ nscd_services_suggested_size if nscd_services_suggested_size is defined else '211' }}
	check-files		services	{{ 'yes' if nscd_services_check_files is defined and nscd_services_check_files else 'no' }}
	persistent		services	{{ 'yes' if nscd_services_persistent is defined and nscd_services_persistent else 'no' }}
	shared			services	{{ 'yes' if nscd_services_shared is defined and nscd_services_shared else 'no' }}
	max-db-size		services	{{ nscd_services_max_db_size if nscd_services_max_db_size is defined else '33554432' }}
	auto-propagate		services	{{ 'yes' if nscd_services_auto_propagate is defined and nscd_services_auto_propagate else 'no' }}

	enable-cache		netgroup	{{ 'yes' if nscd_netgroup_enable_cache is defined and nscd_netgroup_enable_cache else 'no' }}
	positive-time-to-live	netgroup	{{ nscd_netgroup_positive_time_to_live if nscd_netgroup_positive_time_to_live is defined else '28800' }}
	negative-time-to-live	netgroup	{{ nscd_netgroup_negative_time_to_live if nscd_netgroup_negative_time_to_live is defined else '20' }}
	suggested-size		netgroup	{{ nscd_netgroup_suggested_size if nscd_netgroup_suggested_size is defined else '211' }}
	check-files		netgroup	{{ 'yes' if nscd_netgroup_check_files is defined and nscd_netgroup_check_files else 'no' }}
	persistent		netgroup	{{ 'yes' if nscd_netgroup_persistent is defined and nscd_netgroup_persistent else 'no' }}
	shared			netgroup	{{ 'yes' if nscd_netgroup_shared is defined and nscd_netgroup_shared else 'no' }}
	max-db-size		netgroup	{{ nscd_netgroup_max_db_size if nscd_netgroup_max_db_size is defined else '33554432' }}
	auto-propagate		netgroup	{{ 'yes' if nscd_netgroup_auto_propagate is defined and nscd_netgroup_auto_propagate else 'no' }}
